// COLORS
$write-flow-blue: #233565;
$write-flow-light-blue: #07428a;
$write-flow-gray: #5c5c5c;
$write-flow-light-gray: #eef2f8;
$white-color: #FFFFFF;
$silver-color: #AFAFAF;
$mercury-color: #E1E1E1;
$white-color: #FFFFFF;
$alabaster-color: #FAFAFA;

// PADDING
$space-increment: 0.5rem;

// MEDIA BREAKPOINTS
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// SPACING
// -- MOBILE
$space-before: 1.5rem;
$space-after: 1rem;
$space-between: 1rem;
// -- TABLET & DESKTOP
$space-before__tablet-desktop: 2.25rem;
$space-after__tablet-desktop: 1.5rem;
$space-between__tablet-desktop: 1.5rem;